<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzpeng.surveyor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>


    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lzpeng.surveyor.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.horizontal.HorizontalActivity"
            android:label="平曲线"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.resection.ResectionActivity"
            android:label="摄影测量空间后方交会"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.resection.SettingPhotoGraphParamActivity"
            android:label="设置后方交会参数"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.resection.ResectionResultActivity"
            android:label="后方交会结果"
            android:launchMode="singleTask" />
    </application>

</manifest>